
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --beige: hsla(88, 57%, 91%, 1);
    --tea-green: hsla(87, 40%, 80%, 1);
    --laurel-green: hsla(86, 30%, 70%, 1);
    --asparagus: hsla(84, 21%, 57%, 1);
    --moss-green: hsla(82, 18%, 51%, 1);
    --fern-green: hsla(83, 21%, 42%, 1);

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    background-color: var(--tea-green);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--fern-green);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--beige);
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--laurel-green);
    height: 125px;
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--laurel-green);
    box-shadow: var(--shadow);
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--laurel-green);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

.tally, .results {
    display: flex;
    flex-direction: row;
}

hgroup {
    text-align: center;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

ol {
    list-style: disc;
}

.pick-weapon {
    display: flex;
    flex-direction: row;
}

h3 {
    font-weight: bold;
    margin-top: 25px;
}

input {
    display: none;
}

img  {
    margin: 25px;
}